header,footer{
    width: 100%;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 999;
}

header{
    top: 0;
    height: 46px;
}

.bg-black {
  background-color: var(--van-black);
}

.bg-nav {
  background-color: var(--van-nav-bar-background);
}


.van-badge--center{
  transform: none!important;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .header,.footer {
        width: inherit;
        height: 46px;
    }
    .container {
        overflow-y: auto;
        flex: 1;
        padding: 0;
        margin: 0;
        position: relative;
        width: inherit;
        display: inline-block;
    }
    .footer{
        height: 64px;
    }
}

footer{
    bottom: 0;
    height: 64px;
    z-index: 999;
}

/*注册登录样式*/
.common,.register,.login {
  /* 重写Vant Form样式*/
  .van-form .van-cell-group {
    background: var(--friend-remark-from-input-background);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem;
    .van-field{
      background: var(--friend-remark-from-input-background);
    }
  }

  >.van-cell-group .van-cell--center .van-cell__title {
    display: flex;
    --webkit-display: flex;
    align-items: center;
    --webkit-align-items: center;
  }
  .right-box {
    height: 2.5rem;
    span {
      color: var(--theme-gray-70);
    }
  }
  .left-box {
    margin-left: 0.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > span {
      display: block;
      line-height: 18px;
    }
    > span:first-child {
      font-size: 18px;
    }
    > span:last-child {
      width: 15rem;
      white-space: nowrap; /* 确保文本不会换行 */
      overflow: hidden; /* 超出部分隐藏 */
      text-overflow: ellipsis; /* 超出部分显示为省略号 */
      color: var(--theme-gray-70);
    }
  }
}
.register,.login {
  background: var(--friend-remark-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .van-uploader>.van-uploader__wrapper{
    justify-content: center;
  }
}

/*消息弹窗通知样式*/
.message-popup > .van-grid-item__content > .van-grid-item__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  width: 10rem;
  display: block;
}

/*聊天输入框样式*/
.message-input-box
{
  >div,
  emoji-picker {
    width: inherit;
    padding: 1rem 0;
    background-color: var(--messge-footer-background);
    display: flex;
    border-top: 1px solid var(--van-nav-bar-border-color);
    opacity: 0.9;
  }
  >.top {
    border-top: none;

    >textarea,
    button {
      border: none;
      outline: none;
      height: 36px;
      width: 75%;
      font-weight: bold;
      border-radius: 0.2rem;
      color: var(--black-white-color);
      background: var(--messge-footer-input-background);
    }

    >textarea {
      box-sizing: border-box;
      padding: 9px 5px;
      max-height: 100px;
      resize: none;
      overflow-y: scroll;
    }

    >.left,
    >.right {
      height: inherit;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    >.left {
      width: 10%;
    }

    >.right {
      width: 15%;
      justify-content: space-evenly;
    }

    >.emoji {
      height: inherit;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
    }
  }

  >.more-bottom,
  >.emoji-bottom {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    .more-bottom-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .more-bottom-icon {
        height: 4rem;
        width: 4rem;
        background: var(--black20-white-color);
        border-radius: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: var(--black4c-whitebc-color);
        }
      }

      .more-bottom-text {
        margin-top: 5px;
        font-size: 12px;
        color: var(--theme-gray-70);
      }
    }
  }

  >.more-bottom-popup,
  >.emoji-bottom-popup {
    max-height: 18rem;
  }

  >.more-bottom-popup {
    padding: 1rem 0;
  }

  emoji-picker {
    width: inherit;
    height: 18rem;
    --background: var(--messge-footer-background);
  }
}

/*聊天窗口样式*/
.message-box {
  section {
    background-position: center;
    background-size: cover;
    .container {
      .message-list {
        padding: 0.5rem 1rem 0 1rem;

        >li {
          display: block;
        }

        >li>.normal-message>article {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 0.5rem;

          >.avatar {
            margin-right: 0.7rem;

            >img {
              width: 3.5rem;
              height: 3.5rem;
              border-radius: 0.2rem;
            }
          }

          >.content>span {
            color: var(--theme-gray-70);
            font-size: 14px;
            line-height: 18px;
            display: block;
          }

          >.content>.right {
            text-align: right;
          }

          >.content>.msg {
            display: flex;
            justify-content: space-between;

            >.tri {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 0.7rem 1rem 0;
              margin-right: -1px;
              border-color: transparent #ffffff transparent transparent;
            }

            >.msg_inner {
              background-color: #fff;
              width: 100%;
              padding: 1rem 0.7rem;
              border-radius: 0 0.2rem 0.2rem 0.2rem;
              box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
              text-align: left;
              word-wrap: break-word;
              /* 在单词的任意位置断行 */
              word-break: break-all;
              /* 在单词的任意位置断行 */
            }
          }
        }

        >li>.normal-message>article.right {
          flex-direction: row-reverse;

          >.avatar {
            margin-right: 0px;
            margin-left: 0.7rem;
          }

          >.content>.msg {
            flex-direction: row-reverse;

            >.tri {
              margin-left: -1px;
              border-width: 1rem 0.7rem 0 0;
              border-color: var(--theme-primary-color) transparent transparent transparent;
            }

            >.msg_inner {
              border-radius: 0.2rem 0 0.2rem 0.2rem;
              background-color: var(--theme-primary-color);
            }
          }
        }

        >li.li-tips-message {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
        }

        >li>.tips-message {
          width: 60%;
          text-align: center;
          font-size: 12px;
          line-height: 2rem;
          color: var(--theme-black-11);
          background-color: var(--theme-white-f6);
          opacity: 0.8;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          border-radius: 4px;
        }
      }
    }
    .footer {
      height: auto;
    }
  }
}